* {
    font-family: 'Assistant', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;

}

a {
    color: black;
    text-decoration: none;
}

.topnav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    max-height: 100px;

}



.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: white(125, 20, 20);
    position: relative;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.27);
    z-index: 1;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.navpic img {
    border-radius: 50%;
    width: 50px;
}



.navpic {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
}

.header {
    background-color: #91e9ef;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15rem;
    align-items: center;
    gap: 1rem;
    text-align: center;


}



.header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    background-image: url(Portfolio\\assets\\bg.jpeg);

}

.header p,
h1 {
    opacity: 0.9;
}


.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 1rem;
    align-items: center;

}

hr {
    border: 0.5px solid rgb(242, 239, 239);

}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

}



.article1 {
    display: flex;
    margin: 35px 0px 0px;
    width: 75vw;
    gap: 20px;
}

.my-info h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}


.my-img img {

    width: 250px;
}

svg {
    width: 80px;
    rotate: -15deg;
}

.resume {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 150px;
    min-height: 200px;


}

.resume-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70vw;
    gap: 1.5rem;
}

.butt {
    background-color: #46f0ff;
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid #2e2e2e;

}

.project-sections {
    background-color: rgb(222, 221, 221);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding-bottom: 8vh;

}

.project-sections h2 {
    margin-top: 2.5rem;

}

.my-work {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}



.porject-container {
    background-color: rgb(255, 255, 255);
    width: 24rem;
    height: 30rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px 1.5px #b6b5b5;

}

.porject-container:hover {
    box-shadow: 4px 4px 4px 2px #9d9d9d;
}

.porject-container .project-img img {
    width: 24rem;
    height: 13rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1rem;


}

.project-box {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 20rem;
    height: 100%;

}

.porject-container p {
    width: 90%;
    text-align: center;
    padding: 1vw;
    padding-top: 0.5vh;
}




.project-box button {
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: #75eef9;
    padding: 8px 15px;
    border-radius: 30px;
    border: 0.3px solid #8b8b8b;
    box-shadow: 1px 1px 3px 1.5px #b6b5b5;
    width: 8rem;
    font-weight: bold;
    cursor: pointer;
}

.project-box button:hover {
    background-color: rgb(50, 231, 255);
    width: 9rem;
    border: none;
    box-shadow: 2px 2px 4px 2px #898989;
}

.tech-pics {
    display: flex;
    padding: 0;

}

.tech-pics img {
    width: 1.9vw;
    min-width: 3rem;

}

.form-section {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-right: 12vw;
    position: relative;
    background-color: #91e9ef;
    overflow: hidden;
    gap: 1rem;
}

.form-section::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    bottom: 0px;
    left: 0px;
    background-image: url(Portfolio\\assets\\bg.jpeg);
}

.form-div {
    opacity: 0.9;
    margin-bottom: 2.5vh;


}

.form-container {
    width: 25vw;
    opacity: 0.9;
}

.form-div h2 {
    margin-bottom: 1vh;

}

.form-container input,
.form-container p,
.form-container textarea {
    width: 100%;
    padding: 3px;
    font-size: 1rem
}

.form-field input,
.form-field textarea {
    border-bottom: 2px solid #2e2e2e;

}

.form-field {
    margin-bottom: 1vh;
}

input,
textarea {

    border: 0;
}

form button {
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: #1addef;
    padding: 5px 15px;
    font-weight: bold;
    opacity: 0.9;
    border: 0;
    width: 7rem;

}

.social-container {
    background-color: #2e2e2e;
    color: rgb(216, 213, 213);
    padding: 2vh;
    display: flex;
    justify-content: center;
    gap: 3vw;
    font-size: smaller;


}

.social-container div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;



}

.social-container div img {
    height: 2.5vh;
    margin-bottom: 2vh;

}

.proprty {
    background-color: #0f0e0e;
    color: rgb(177, 174, 174);
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    padding: 0.5vh;
}

@media only screen and (max-width: 600px) {

    .nav-container {
        justify-content: space-between;
        font-size: smaller;

    }

    .nav-container ul {
        gap: 1rem;
        align-items: center;
        padding-inline-start: 10px;
    }

    .header p {
        width: 80vw;

    }

    .logos {
        flex-wrap: wrap;
        height: 15vh;

    }

    .logos img {
        width: 15%;
    }

    .social-container {
        display: flex;
        flex-wrap: wrap;
    }

    .article1 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .my-info {
        text-align: center;

    }

    .my-work {

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
    }

    .resume {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 30px;
        justify-content: space-around;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    .resume-info {
        text-align: center;
        align-items: center;
    }

    .form-container {
        width: 70vw;
    }

    .social-container {
        gap: 2rem;

    }

    .proprty {
        flex-direction: column;
        align-items: center;

    }




}